@model Risk.ViewModels.FichaRiesgoVM
@using Risk.Models


<div id="financialImpact" style="background-color:#eaf7fa" class="row" idEvaluacion="@Model.idEvaluacion">
    <div class="col-lg-12 col-md-12">
        <span class="form-left-label"><b>FINANCIAL IMPACT</b></span>
    </div>

    <!--CABECERAS-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"></span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Before Controls</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Current</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">After action plans</span>
        </div>
    </div>
    <!--FRECUENCIA-->
    <div class="col-lg-12 col-md-12" id="rowFrecuencia">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Frec. </b></span>
            <a style="cursor:pointer" data-toggle="modal" data-target="#modalInfoFrecuencia">   <i class="fa fa-question" aria-hidden="true"></i></a>
            @*<h2><a style="cursor:pointer" ></a></h2>*@
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @*NombreFrecAntes*@

            @Html.DropDown(Model.dropDowns.datosEvaFrecuencia, "NombreFrecAntes", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r=>r.IdFrecAntes).Single().ToString(), null, "NombreFrecDespues")
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @*NombreFrecDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaFrecuencia, "NomreFrecDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecDespues).Single().ToString(), null, "NombreFrecPlanDespues")
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @*NombreFrecPlanDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaFrecuencia, "NombreFrecPlanDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecPlanDespues).Single().ToString())
        </div>
    </div>

    <!--SEVERIDAD-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @*NombreSeveAntes*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSeveAntes", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveAntes).Single().ToString(), null, "NombreSeveDespues:NombreSevePeorAntes")
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @*NombreSeveDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSeveDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveDespues).Single().ToString(), null, "NombreSevePlanDespues:NombreSevePeorDespues")
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @*NombreSevePlanDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSevePlanDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePlanDespues).Single().ToString(), null, ":NombreSevePeorPlanDespues")
        </div>
    </div>
    <!--SEVERIDAD DESPUES PLAN-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Max. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @*NombreSevePeorAntes*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSevePeorAntes", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorAntes).Single().ToString(), null, "NombreSevePeorDespues")
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @*NombreSevePeorDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSevePeorDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorDespues).Single().ToString(), null, "NombreSevePeorPlanDespues")
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @*NombreSevePeorPlanDespues*@

            @Html.DropDown(Model.dropDowns.datosEvaSeveridad, "NombreSevePeorPlanDespues", "qRiesgosEvalVal_VM", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorPlanDespues).Single().ToString())
        </div>
    </div>
</div>

    <!--MODAL INFO FRECUENCIA-->
<div id="modalInfoFrecuencia" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">HELP FRECUENCY</h4>
            </div>

            <div class="modal-body text-center">
                <p>The risk has been created correctly!!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#linkModalFrecuencia').click(function () {
        alert('btnnnnn')
        $('#modalInfoFrecuencia').modal('show')
    })
</script>

<script>
    var idDisparador;
    var valorSeleccionado;

    /*
    Evento para capturar cuando un DropDown cambia
        -Se recogen en dos variables globales:
            1: El ID del DropDown que ha provocado el evento
            2: El option del DropDown que se ha seleccionado
    */
    $('select').change(function () {
        idDisparador = $(this).attr('id');
        valorSeleccionado = $(this).val();

        var idSelectSiguiente = $(this).attr('sig').split(':')[0];
        var idSelectAbajo = $(this).attr('sig').split(':')[1];

        var optionsSelectSiguiente = $('#' + idSelectSiguiente).find('option');
        var optionsSelectAbajo = $('#' + idSelectAbajo).find('option');

        var color;
        var value;


        /*
        Código para cambiar el color del DropDown que ha provocado el evento, es decir, el que se ha seleccionado
            1: Se buscan las 'option' de dicho DropDown y se recorren
            2: Se elimina el attr 'selected' que exitiese
            3: Cuando el loop coincide con el valor seleccionado:
                3.1: De su attr 'style' extraemos el valor del color para pintar el DropDown adecuadamente
                3.2: Añadimos el attr 'selected' al 'option' seleccionado
            4: Elimina el color que existiese en el DropDown
            5: Añade el color adecuado al DropDown
        */
        $('#' + idDisparador).find('option').each(function (pos, el) {
            if ($(this).attr('selected') == 'selected') {
                $(this).removeAttr('selected');
            }

            if ($(this).val() == valorSeleccionado) {
                color = $(this).attr('style').split('background-color:')[1];
                $(this).attr('selected', 'selected');
            }
        })

        $(this).css('background-color', '');
        $(this).css('background-color', color.split(';')[0]);

        //$('#' + idSelectSiguiente).css('background-color', color);

        /*
        Dependiendo del ID del DropDown que ha provocado el evento, se realiza un código u otro
        */

        if (idDisparador.indexOf("Frec") != -1) {
            limpiaCombos(idSelectSiguiente, "");

            $.each(optionsSelectSiguiente, function (pos, el) {
                ocultaOptions($(this), "<");
            });

        } else {
            limpiaCombos(idSelectSiguiente, idSelectAbajo);

            $.each(optionsSelectSiguiente, function (pos, el) {
                ocultaOptions($(this), ">");
            });


            $.each(optionsSelectAbajo, function (pos, el) {
                ocultaOptions($(this), "<");
            });

        }
    });


    /*
        <summary>
            Deja como option 'selected' la opcion por defecto (en blanco)
            Dependiendo de donde se haya producido el evento se hará:
                - en una direccion (horizontal, en el caso de Frecuencia)
                - en dos direcciones (horizontal y vertical, en el caso de Severidad)
        </summary>
        <param name="idSelectSiguiente"></param>
        <param name="idSelectAbajo">Si no existe viene vacio "" </param>
        <returns></returns>
    */
    function limpiaCombos(idSelectSiguiente, idSelectAbajo) {
        var combos;
        var combosAbajo;
        var idSelectSiguienteBuscado;

        //Carga de la variable 'combos', dependiendo del id, es decir, una fila u otras(Severidad)
        if (idSelectSiguiente.indexOf("Frec") != -1) {
            combos = $('select[id*=Frec]');
        } else {
            combos = $('select[id*=Seve]');
        }

        //Cara de la variable 'idSelectSiguienteBuscado'
        $.each(combos, function (el, pos) {
            if ($(this).attr('id') == idSelectSiguiente) {
                idSelectSiguienteBuscado = $(this).attr('sig').split(':')[0]
            }
        })

        //Eliminar el color existente en los siguientes DropDowns
        $('#' + idSelectSiguiente).css('background-color', '');
        $('#' + idSelectSiguienteBuscado).css('background-color', '');


        /*
            Limpia DropDown siguiente
        */
        $('#' + idSelectSiguiente).find('option').each(function (el, pos) {
            mecanicaLimpiado($(this));
        });

        /*
          Si existe DropDown siguiente
        */
        if (idSelectSiguienteBuscado != "") {
            $('#' + idSelectSiguienteBuscado).find('option').each(function (el, pos) {
                mecanicaLimpiado($(this));
            });
        }

        /*
            Si existe DropDown de abajo
        */
        if (idSelectAbajo != "") {
            $('#' + idSelectAbajo).css('background-color', '');

            //Deja en blanco el select inmediatamente de debajo
            $('#' + idSelectAbajo).find('option').each(function (el, pos) {
                mecanicaLimpiado($(this));
            });

            //Vuelvo a llamar al método para limpiar los select siguiente de la fila de abajo
            var idSelectSiguienteAbajo = $('#' + idSelectAbajo).attr('sig').split(':')[0];
            limpiaCombos(idSelectSiguienteAbajo, "")
        }

    };

    /*
        <summary>
              Cuando el loop coincide con el valor seleccionado:
              De su attr 'style' extraemos el valor del color para pintar el DropDown adecuadamente
              Añadimos el attr 'selected' al 'option' seleccionado
        </summary>
        <param name="idSelectSiguiente"></param>
        <param name="idSelectAbajo">Si no existe viene vacio "" </param>
        <returns></returns>
    */
  
    function mecanicaLimpiado(elemento) {
        if ($(elemento).attr('selected') == 'selected') {
            $(elemento).removeAttr('selected');
        }

        if ($(elemento).val() == 0) {
            $(elemento).attr('selected', 'selected');
        }
    };


    /*
        <summary>
              Oculta las opciones según la lógica de la BBDD
        </summary>
        <param name="elemento"></param>
        <param name="signo">Dependiendo de la fila la lógica cambia de signo</param>
        <returns></returns>
    */
    function ocultaOptions(elemento, signo) {
        var value = $(elemento).val();
        $(elemento).show();


        switch (signo) {
            case ">":
                if (value > valorSeleccionado) {
                    $(elemento).hide();
                }
                break;
            case "<":
                if (value < valorSeleccionado) {
                    $(elemento).hide();
                }
                break;
        }

        if (value == 0) {
            $(elemento).show();
        }
    };
</script>


