@model Risk.ViewModels.FichaRiesgoVM

@{
    if (Model.idEvaluacion != 0)
    {
        <input type="hidden" id="idEvaluacion" value="@Convert.ToInt32(Model.idEvaluacion)" />
    }
}


<div id="financialImpact" style="background-color:#eaf7fa" class="row">
    <div class="col-lg-12 col-md-12">
        <span class="form-left-label"><b>FINANCIAL IMPACT</b></span>
    </div>

    <!--CABECERAS-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"></span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Before Controls</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Current</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">After action plans</span>
        </div>
    </div>
    <!--FRECUENCIA-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Frec.</b></span>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                //NombreFrecAntes
                Dictionary<int, List<string>> dicFrecuencia = Model.dropDowns.datosEvaFrecuencia;
                var id = 0; var color = "#eee"; var text = "";

                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecAntes) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdFrecAntes);
                        //color = dicFrecuencia.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecAntes).Single();
                        color = dicFrecuencia.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreFrecAntes).Single();
                    }
                }

                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreFrecAntes" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />


                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r=>r.NombreFrecAntes).Single(), new
                         {
                             @class = "form-control w100",
                             @readonly = "readonly",
                             @style = "color:#000000; background-color:" + color,
                             @campos = "campos",
                             @id = "NombreFrecAntes",
                             @tabla = "qRiesgosEvalVal"
                    })*@

            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @{
                //NombreFrecDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdFrecDespues);
                        //color = dicFrecuencia.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdFrecDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecDespues).Single();
                        color = dicFrecuencia.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreFrecDespues).Single();
                    }
                }

                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreFrecDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreFrecDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreFrecDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreFrecPlanDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecPlanDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdFrecPlanDespues);
                        //color = dicFrecuencia.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdFrecPlanDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdFrecPlanDespues).Single();
                        color = dicFrecuencia.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreFrecPlanDespues).Single();
                    }
                }

                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreFrecPlanDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreFrecPlanDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreFrecPlanDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>
    </div>
    <!--SEVERIDAD-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                //NombreSeveAntes
                Dictionary<int, List<string>> dicSeveridad = Model.dropDowns.datosEvaSeveridad;

                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveAntes) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSeveAntes);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSeveAntes).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveAntes).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSeveAntes).Single();
                    }
                }
                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSeveAntes" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSeveAntes), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSeveAntes",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>

            @{
                //NombreSeveDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSeveDespues);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSeveDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSeveDespues).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSeveDespues).Single();
                    }
                }

                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSeveDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSeveDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSeveDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }


        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreSevePlanDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePlanDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSevePlanDespues);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSevePlanDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePlanDespues).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePlanDespues).Single();
                    }
                }
                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSevePlanDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePlanDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSevePlanDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>
    </div>
    <!--SEVERIDAD DESPUES PLAN-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Max. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                //NombreSevePeorAntes
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorAntes) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSevePeorAntes);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSevePeorAntes).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorAntes).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorAntes).Single();
                    }
                }

                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSevePeorAntes" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorAntes), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSevePeorAntes",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @{
                //NombreSevePeorDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSevePeorDespues);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSevePeorDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorDespues).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorDespues).Single();
                    }
                }
                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSevePeorDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSevePeorDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreSevePeorPlanDespues
                if (Model.qRiesgosEvalVal_Dic_VM != null)
                {
                    if (Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorPlanDespues) != null)
                    {
                        //id = Convert.ToInt32(Model.qRiesgosEvalVal_VM.IdSevePeorPlanDespues);
                        //color = dicSeveridad.Where(r => r.Key == Model.qRiesgosEvalVal_VM.IdSevePeorPlanDespues).Select(r => r.Value[0]).Single();
                        id = (Int32)Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdSevePeorPlanDespues).Single();
                        color = dicSeveridad.Where(r => r.Key == id).Select(r => r.Value[0]).Single();
                        text = Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorPlanDespues).Single();
                    }
                }
                <input type="text" class="form-control w100" readonly="readonly" campos="campos" id="NombreSevePeorPlanDespues" tabla="qRiesgosEvalVal" style="color:#000000; background-color:@color" value="@text" />

                @*@Html.TextBoxFor(model => model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.NombreSevePeorPlanDespues), new
                    {
                        @class = "form-control w100",
                        @readonly = "readonly",
                        @style = "color:#000000; background-color:" + color,
                        @campos = "campos",
                        @id = "NombreSevePeorPlanDespues",
                        @tabla = "qRiesgosEvalVal"
                    })*@
            }
        </div>
    </div>

</div>
