@model Risk.ViewModels.FichaRiesgoVM

<div id="financialImpact" style="background-color:#eaf7fa" class="row" idEvaluacion="@Model.idEvaluacion">
    <div class="col-lg-12 col-md-12">
        <span class="form-left-label"><b>FINANCIAL IMPACT</b></span>
    </div>

    <!--CABECERAS-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"></span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Before Controls</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">Current</span>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm">
            <span class="form-left-label">After action plans</span>
        </div>
    </div>
    <!--FRECUENCIA-->
    <div class="col-lg-12 col-md-12" id="rowFrecuencia">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Frec.</b></span>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                var id = 0; var color = "#eee";

                //NombreFrecAntes
                Dictionary<int, List<string>> dicFrecuencia = Model.dropDowns.datosEvaFrecuencia;

                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecAntes != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecAntes);
                        color = dicFrecuencia.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecAntes).Select(r => r.Value[0]).Single();
                    }
                }

                <select class="form-control w100" campos="campos" id="NombreFrecAntes" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var frec in dicFrecuencia)
                        {
                            if (frec.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@frec.Key" selected="selected" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@frec.Key" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                        }
                    }
                </select>
             
            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @{
                //NombreFrecDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecDespues);
                        color = dicFrecuencia.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreFrecDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var frec in dicFrecuencia)
                        {
                            if (frec.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@frec.Key" selected="selected" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@frec.Key" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreFrecPlanDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecPlanDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecPlanDespues);
                        color = dicFrecuencia.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdFrecPlanDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreFrecPlanDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var frec in dicFrecuencia)
                        {
                            if (frec.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@frec.Key" selected="selected" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@frec.Key" style="color:#000000; background-color:@frec.Value[0]">@frec.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>
    </div>
    <!--SEVERIDAD-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Exp. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                //NombreSeveAntes
                Dictionary<int, List<string>> dicSeveridad = Model.dropDowns.datosEvaSeveridad;

                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveAntes != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveAntes);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveAntes).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSeveAntes" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>

            @{
                //NombreSeveDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveDespues);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSeveDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSeveDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }


        </div>

        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreSevePlanDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePlanDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePlanDespues);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePlanDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSevePlanDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>
    </div>
    <!--SEVERIDAD DESPUES PLAN-->
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-3 col-md-3">
            <span class="form-left-label"><b>Max. Sev.</b></span>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Before Controls</span>
            </div>
            @{
                //NombreSevePeorAntes
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorAntes != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorAntes);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorAntes).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSevePeorAntes" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">Current</span>
            </div>
            @{
                //NombreSevePeorDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorDespues);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSevePeorDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="visible-sm">
                <span class="form-left-label">After action plans</span>
            </div>
            @{
                //NombreSevePeorPlanDespues
                if (Model.qRiesgos_Evaluaciones_Valores_VM != null) {
                    if (Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorPlanDespues != null) {
                        id = Convert.ToInt32(Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorPlanDespues);
                        color = dicSeveridad.Where(r => r.Key == Model.qRiesgos_Evaluaciones_Valores_VM.IdSevePeorPlanDespues).Select(r => r.Value[0]).Single();
                    }
                }
                <select class="form-control w100" campos="campos" id="NombreSevePeorPlanDespues" tabla="qRiesgos_Evaluaciones_Valores" style="color:#000000; background-color:@color" combo="true">
                    @{
                        foreach (var sev in dicSeveridad)
                        {
                            if (sev.Key.Equals(id))
                            {
                                <option class="financialImpact" value="@sev.Key" selected="selected" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                            else
                            {
                                <option class="financialImpact" value="@sev.Key" style="color:#000000; background-color:@sev.Value[0]">@sev.Value[1]</option>
                            }
                        }
                    }
                </select>
            }
        </div>
    </div>
    
</div>

@*
    VERSION 2   
    helper para hacer los dropdown
    cargar todos los dropdown y ocultar options segun changeee
    hacer atributo sig que haga referencia al id del drop siguiente
    idSelectSiguiente = $(this).attr('sig');
*@

<script>
    $('select').change(function () {
        var idDisparador = $(this).attr('id');
        var valorSeleccionado = $(this).val();
        var color;
        var idSelectSiguiente;
        var idSelectSiguienteSiguiente;
        var posDropSeleccionado;


        //Cambia el color del select que ha producido el evento
        $('select[id=' + idDisparador + ']').children().each(function (pos, el) {
            if ($(this).val() == valorSeleccionado) {
                color = $(this).attr('style').split(':')[2];
            }
        })
        $(this).css('background-color', '');
        $(this).css('background-color', color);

        //Pinta el select siguiente en base al elegido
        var all = $(this).parent().parent().find('select');
        all.each(function (pos, el) {
            if ($(this).attr('id') == idDisparador) {
                posDropSeleccionado = pos;
                idSelectSiguiente = all.eq(pos + 1).attr('id');
                idSelectSiguienteSiguiente = all.eq(pos + 2).attr('id');
                //alert('En el each=> hay coincidencia. idDisparador => ' + idDisparador + ' id siguiente select => ' + idSelectSiguiente);
            }
        })

        $('select[id=' + idSelectSiguiente).empty().css('background-color', '#ffffff').append('<option class="financialImpact" value="0" style="color:#000000; background-color:#ffffff"></option>');
        $('select[id=' + idSelectSiguienteSiguiente).empty().css('background-color', '#ffffff').append('<option class="financialImpact" value="0" style="color:#000000; background-color:#ffffff"></option>');

        if (idDisparador.indexOf("Frec") != -1) {
            $.getJSON("/Risk/recuperaDrop?nombre=datosEvaFrecuencia", function (data) {
                $.each(data, function (Key, Value) {
                    //alert('Key => ' + Key + ' Value => ' + Value);
                    //alert('Color => ' + Value[0] + ' Nombre => ' + Value[1]);
                    if (Key >= valorSeleccionado) {
                        $('select[id=' + idSelectSiguiente).append('<option class="financialImpact" value="' + Key + '" style="color:#000000; background-color:' + Value[0] + '">' + Value[1] + '</option>');
                    }
                });
            });
        } else {
            $.getJSON("/Risk/recuperaDrop?nombre=datosEvaSeveridad", function (data) {
                $.each(data, function (Key, Value) {
                    //alert('Key => ' + Key + ' Value => ' + Value);
                    //alert('Color => ' + Value[0] + ' Nombre => ' + Value[1]);
                    if (Key <= valorSeleccionado) {
                        $('select[id=' + idSelectSiguiente).append('<option class="financialImpact" value="' + Key + '" style="color:#000000; background-color:' + Value[0] + '">' + Value[1] + '</option>');
                    }
                });
            });
        }     
    })   
</script>

