@model Risk.ViewModels.FichaRiesgoVM
@using Risk.Models

<script type="text/javascript" src="~/Content/js/scripts2.js"></script>

<!-- GENERAL DATA RATING PANEL -->
<!-- TITLE & BUTTONS -->

@using (Html.BeginForm("GeneralFormulario", "Risk", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <span class="title">DATA SHEET</span>

    <div id="botonera" class="pull-right">
        <input type="submit" class="btn btn-primary" name="BtnDelete" value="DELETE" id="BtnDelete" />
        <input type="submit" class="btn btn-primary" name="BtnNew" value="NEW" id="BtnNew" />
        <input type="submit" class="btn btn-primary" name="BtnSave" value="SAVE" id="BtnSave" />
        <input type="submit" class="btn btn-primary" name="BtnExit" value="EXIT" id="BtnExit" />
    </div>

    <div class="clearfix"></div>
    <div class="divider"></div>


    <div class="row">
        <div class="col-lg-12 col-md-12">
            <br />

            <!-- COLUMNA IZQUIERDA-->
            <div class="col-lg-6 col-md-6">


                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <span class="form-left-label">Example</span>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        @Html.TextAreaFor(model => model.qRiesgosNombre_VM.Ejemplo, 5, 50, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4 col-md-4">
                        <span class="form-left-label">Cause</span>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        @Html.TextAreaFor(model => model.qRiesgosNombre_VM.Descripcion, 5, 50, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <span class="form-left-label">Justification for control improvement</span>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        @Html.TextAreaFor(model => model.qRiesgosNombre_VM.Justificacion, 5, 50, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>


            </div>



            <!-- COLUMNA DERECHA-->
            <div class="col-lg-6 col-md-6">

                <!--SEGMENTATION -->
                <div id="segmentation" style="background-color:#eaf7fa" class="row">
                    <div class="col-lg-12 col-md-12">
                        <span class="form-left-label"><b>SEGMENTATION</b></span>
                    </div>
                    <diV>
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelCategoria">Categoría</span>
                        </div>

                        <div class="col-lg-10 col-md-10s">
                            <select class="form-control w100" name="categoria" id="selectCategoria" filtro="IdCategoria">
                                @{
                                    Dictionary<int, string> dicCategorias = Model.dropDowns.dicCategorias;
                                    foreach (var categoria in dicCategorias)
                                    {
                                        if (categoria.Key.Equals(Model.qRiesgosNombre_VM.IdCategoria))
                                        {
                                            <option value="@categoria.Key" selected="selected">@categoria.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@categoria.Key">@categoria.Value </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </diV>
                </div>

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!--CATEGORIZATION -->
                <div id="categorization" style="background-color:#eaf7fa" class="row">
                    <div class="col-lg-12 col-md-12">
                        <span class="form-left-label"><b>RISK CATEGORIZATION</b></span>
                    </div>
                    <!-- ROW LEVEL 1 -->
                    <div>
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif1">Level 1</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w100" name="clasificacion1" ref="comboDinamico" id="selectClasif_1" sig="selectClasif_2">
                                @{
                                    Dictionary<int, string> dicClasificacion1 = Model.dropDowns.dicClasificacion1;
                                    foreach (var clasif1 in dicClasificacion1)
                                    {
                                        if (clasif1.Key.Equals(Model.qRiesgosNombre_VM.IdClasificacion1))
                                        {
                                            <option value="@clasif1.Key" selected="selected">@clasif1.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@clasif1.Key">@clasif1.Value </option>
                                        }
                                    }
                                }
                            </select>

                        </div>
                    </div>

                    <!-- ROW LEVEL 2 -->
                    <div>
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif2">Level 2</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w100" name="clasificacion2" ref="comboDinamico" id="selectClasif_2" sig="selectClasif_3">
                                @{
                                    Dictionary<int, string> dicClasificacion2 = Model.dropDowns.dicClasificacion2;
                                    foreach (var clasif2 in dicClasificacion2)
                                    {
                                        if (clasif2.Key.Equals(Model.qRiesgosNombre_VM.IdClasificacion2))
                                        {
                                            <option value="@clasif2.Key" selected="selected">@clasif2.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@clasif2.Key">@clasif2.Value </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <!-- ROW LEVEL 3 -->
                    <div>
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif1">Level 3</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w100" name="clasificacion3" ref="comboDinamico" id="selectClasif_3">
                                @{
                                    Dictionary<int, string> dicClasificacion3 = Model.dropDowns.dicClasificacion3;
                                    foreach (var clasif3 in dicClasificacion3)
                                    {
                                        if (clasif3.Key.Equals(Model.qRiesgosNombre_VM.IdClasificacion3))
                                        {
                                            <option value="@clasif3.Key" selected="selected">@clasif3.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@clasif3.Key">@clasif3.Value </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!-- FINANCIAL IMPACT -->
                <div id="financialImpact" style="background-color:#eaf7fa" class="row">
                    <div class="col-lg-12 col-md-12">
                        <span class="form-left-label"><b>FINANCIAL IMPACT</b></span>
                    </div>

                    <!--CABECERAS-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label"></span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">Before Controls</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">Current</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">After action plans</span>
                        </div>
                    </div>

                    <!--FRECUENCIA-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">Exp. Frec.</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreFrecAntes, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorFrecAntes})
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreFrecDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorFrecDespues})
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreFrecPlanDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorFrecPlanDespues })
                        </div>
                    </div>
                    <!--SEVERIDAD-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">Exp. Sev.</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSeveAntes, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSeveAntes })
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSeveDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSeveDespues })
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSevePlanDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSevePlanDespues })
                        </div>
                    </div>
                    <!--SEVERIDAD DESPUES PLAN-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-3 col-md-3">
                            <span class="form-left-label">Max. Sev.</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSevePeorAntes, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSevePeorAntes })
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSevePeorDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSevePeorDespues })
                        </div>
                        <div class="col-lg-3 col-md-3">
                            @Html.TextBoxFor(model => model.qRiesgos_Evaluaciones_Valores_VM.NombreSevePeorPlanDespues, new { @class = "form-control w100", @readonly = "readonly", @disabled = "disabled", @style = "color:#000000; background-color:" + Model.qRiesgos_Evaluaciones_Valores_VM.ColorSevePeorPlanDespues })
                        </div>
                    </div>

               
                    <div class="col-lg-12 col-md-12">
                    <hr/>
                    </div>
                    <!--OPORTUNIDAD-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-5 col-md-5">
                            <span class="form-left-label">Opportunity for control improvement</span>
                        </div>
                        <div class="col-lg-7 col-md-7">

                            <select class="form-control w100" id="selectOportunidad">
                                @{
                                    Dictionary<int, string> datosOportunidad = Model.dropDowns.datosOportunidad;
                                    foreach (var oportunidad in datosOportunidad)
                                    {
                                        if (oportunidad.Key.Equals(Model.qRiesgosNombre_VM.IdControlesOportunidad))
                                        {
                                            <option value="@oportunidad.Key" selected="selected">@oportunidad.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@oportunidad.Key">@oportunidad.Value </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <!--EFECTIVIDAD-->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-5 col-md-5">
                            <span class="form-left-label">Existing control</span>
                        </div>
                        <div class="col-lg-7 col-md-7">

                            <select class="form-control w100" id="selectEfectividad">
                                @{
                                    Dictionary<int, string> datosEfectividad = Model.dropDowns.datosEfectividad;
                                    foreach (var efectividad in datosEfectividad)
                                    {
                                        if (efectividad.Key.Equals(Model.qRiesgosNombre_VM.IdControlesEfectividad))
                                        {
                                            <option value="@efectividad.Key" selected="selected">@efectividad.Value </option>
                                        }
                                        else
                                        {
                                            <option value="@efectividad.Key">@efectividad.Value </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
                                    }
