@model Risk.ViewModels.FichaRiesgoVM

<input type="hidden" id="idRiesgo" value="@Convert.ToInt32(Model.qRiesgosNombre_VM.IdRiesgo)" />

<form id="miForm">
    <div id="botonera" class="pull-right">
        <input type="submit" class="btn btn-primary" name="BtnDelete" value="DELETE" id="BtnDelete" />
        <a href="@Url.Action(" RiskFicha", "Risk", new { id = 0 })" class="btn btn-primary">NEW</a>
        <input type="button" class="btn btn-primary" name="BtnSave" value="SAVE" id="BtnSave" />
        <input type="button" class="btn btn-primary" name="BtnChangeHistorical" value="CHANGE" id="BtnChangeHistorical" />
        <input type="button" class="btn btn-primary" name="BtnCopyLast" value="COPY LAST" id="BtnCopyLast" />
    </div>
    <div class="clearfix"></div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <br />
            <div style="background-color:#eaf7fa; height:500px;">
                <div class="divDelGrid center-block table-responsive" id="datosTablaEvaluaciones" style="width:87%">
                    @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model.datosTabla_VM)
                </div>
            </div>
            <div class="divider"></div>
            <br /><br />
        </div>

        <div class="col-lg-12 col-md-12">
            <div style="background-color:#eaf7fa;">
                <div class="col-lg-8 col-md-8" id="financialImpactDiv">
                    @Html.Partial("FinancialImpactCombosHelpers", Model)
                </div>

                <div class="col-lg-4 col-md-4" style="background-color:#eaf7fa; height:177px">
                    <br /><br />
                    <div class="col-lg-3 col-md-3">
                        <span class="form-left-label"><b>Frecuency: </b></span><br />
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div>
                            @Html.DropDown(Model.dropDowns.datosEvaEfectividad, "efectividad", "tEva_Efectividad", Model.qRiesgosEvalVal_Dic_VM.Values.Select(r => r.IdEfectividad).ToString(), null, null)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>

<script>
    $('#datosTablaEvaluaciones table').attr('id', 'datosTablaEvaluaciones');
    var table = $('table[id=datosTablaEvaluaciones]').DataTable({
        //responsive: true,
        scrollY: 1000,
        scrollX: true,
        scrollCollapse: true,
        scroller: true,
        retrieve: true
    })

    $('#datosTablaEvaluaciones tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        var idEvaluacion = $(this).attr('id');
        var idRiesgo = $('#idRiesgo').val();
        //alert('idEvaluacion=> ' + idEvaluacion + 'idRiesgo => ' + idRiesgo);

        $('#financialImpactDiv').empty();

        var ruta = "http://localhost:1525/Risk/FinancialImpactTextBox";
        $('#financialImpactDiv').load(ruta, { "id": idRiesgo, "idEvaluacion": idEvaluacion})
    });

</script>


