@using Risk.Models
@{
    ViewBag.Title = "RiskFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //qRiesgosNombre riesgoRecup = (Risk.Models.qRiesgosNombre)ViewBag.riesgoRecup;
    qRiesgosNombre riesgoRecup = (qRiesgosNombre)Session["riesgo"];
}

<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>
<!-- MAIN CONTENT -->
<!-- TITLE & SUBTITLE -->
<h2>RISK FICHA</h2>
<h3 class="darker"><strong>@riesgoRecup.CodRiesgo</strong></h3>


<input id="IdRiesgo" type="hidden" value="@riesgoRecup.IdRiesgo" />



<!-- GENERAL DATA OF RISK -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & ATTRIBUTES -->
        <span class="title">GENERAL DATA RISK</span>
        <div class="clearfix"></div>
        <div class="divider"></div>

        <!-- FORM -->
        <div class="row">

            <!-- COLUMN LEFT -->
            <div class="col-lg-6 col-md-8">

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!-- ROW BP -->
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>STRUCTURE CODE</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@riesgoRecup.CodRiesgoLocalizado</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>NAME</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@riesgoRecup.Nombre</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>DESCRIPTION</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@riesgoRecup.Descripcion</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
        <!-- TABS -->
        <div>
            <ul class="nav nav-tabs" id="mnu">
                <li class="active">
                    <a aria-expanded="true" id="mnu_General" data-toggle="tab" href="#">General</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_OperationalImpact" data-toggle="tab" href="#">Operational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_ReputationalImpact" data-toggle="tab" href="#">Reputational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Scoope" data-toggle="tab" href="#">Scoope</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Historical" data-toggle="tab" href="#">Historical</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Graphic" data-toggle="tab" href="#">Graphic</a>
                </li>
            </ul>
        <hr />
        </div> <!-- END TABS -->




        <div id="contenidoDinamico">


        </div>


    </div>
</div>


<script>
$(document).ready(function () {
    var ruta = "http://localhost:1525/Risk/General";
    $('#contenidoDinamico').load(ruta);
})
</script>