@model Risk.Models.qRiesgosNombres

<h3 class="darker"><strong>@Model.CodRiesgo</strong></h3>
<input id="IdRiesgo" type="hidden" value="@Model.IdRiesgo" />

<!-- GENERAL DATA OF RISK -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & ATTRIBUTES -->
        <span class="title">GENERAL DATA RISK</span>
        <div class="clearfix"></div>
        <div class="divider"></div>

        <!-- FORM -->
        <div class="row">

            <!-- COLUMN LEFT -->
            <div class="col-lg-6 col-md-8">

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!-- ROW BP -->
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>STRUCTURE CODE</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.CodRiesgoLocalizado</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>NAME</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.Nombre</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>DESCRIPTION</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.Descripcion</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
