@using Risk.Models
@model Risk.Models.qRiesgosNombres
@{
    ViewBag.Title = "RiskFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN CONTENT -->
<!-- TITLE & SUBTITLE -->
<h2>RISK FICHA</h2>

@if (Model.Nombre != null) {
    <h3 class="darker"><strong>@Model.CodRiesgo</strong></h3>
    <input id="IdRiesgo" type="hidden" value="@Model.IdRiesgo" />

    <!-- GENERAL DATA OF RISK -->
    <div class="panel">
        <div class="panel-body">
            <!-- TITLE & ATTRIBUTES -->
            <span class="title">GENERAL DATA RISK</span>
            <div class="clearfix"></div>
            <div class="divider"></div>

            <!-- FORM -->
            <div class="row">

                <!-- COLUMN LEFT -->
                <div class="col-lg-6 col-md-8">

                    <!-- DIVIDER -->
                    <div class="divider-30"></div>

                    <!-- ROW BP -->
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>STRUCTURE CODE</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.CodRiesgoLocalizado</span>
                        </div>
                    </div>
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>NAME</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.Nombre</span>
                        </div>
                    </div>
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>DESCRIPTION</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.Descripcion</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


} else {
    <input id="IdRiesgo" type="hidden" value="0" />
    <input id="estructura" type="hidden" value=@ViewBag.idEstructura />
    <h3 class="darker"><strong>New Risk</strong></h3>
}

<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
        <!-- TABS -->
        <div id="Menu">
            <ul class="nav nav-tabs" id="mnu">
                <li class="active">
                    <a aria-expanded="true" id="mnu_General" data-toggle="tab" href="#">General</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_OperationalImpact" data-toggle="tab" href="#">Operational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_ReputationalImpact" data-toggle="tab" href="#">Reputational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Scoope" data-toggle="tab" href="#">Scoope</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Historical" data-toggle="tab" href="#">Historical</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Graphic" data-toggle="tab" href="#">Graphic</a>
                </li>
            </ul>
            <hr />
        </div> <!-- END TABS -->
        <div id="contenidoDinamico">
        </div>
    </div>
</div>


<!--MODAL AVISO CAMBIOS-->
<div id="modalAviso" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">WARNING!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>There are changes in the actual risk. Please, save this changes or discard them.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="BtnContinueModal">CONTINUE</button>
                <button type="button" class="btn btn-primary" id="BtnDiscardModal">DISCARD CHANGES AND EXIT</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL AVISO BORRADO-->
<div id="modalBorrado" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">DELETE OK!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>The risk has been deleted correctly!!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnCloseModal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL AVISO CREADO NUEVO RIESGO-->
<div id="modalNuevo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">NEW RISK OK!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>The risk has been created correctly!!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnCloseModalNuevo">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL AVISO CREADO NUEVA EVALUACION-->
<div id="modalNuevoEva" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">NEW EVALUATION OK!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>The evaluaion has been created correctly!!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnCloseModalNuevoEva">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL AVISO BORRADO EVALUACION-->
<div id="modalBorradoEva" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">DELETE OK!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>The evaluation has been deleted correctly!!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnCloseModalEva">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<script> 
        $(document).ready(function () {
            $('#Menu li').removeClass('disabled');
            var id = $('#IdRiesgo').val();
            var ruta = "http://localhost:1525/Risk/General/";

            $('#contenidoDinamico').load(ruta, { "id": id , "idEstructura" : $('#estructura').val()});
        })
</script>



<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>