@using Risk.Models
@model Risk.Models.qRiesgosNombres
@{
    ViewBag.Title = "RiskFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/morris/morris.css" type="text/css" />


<!-- MAIN CONTENT -->
<!-- TITLE & SUBTITLE -->
<h2>RISK FICHA</h2>

@if (Model.Nombre != null) {
    <h3 class="darker"><strong>@Model.CodRiesgo</strong></h3>
    <input id="IdRiesgo" type="hidden" value="@Model.IdRiesgo" />

    <!-- GENERAL DATA OF RISK -->
    <div class="panel">
        <div class="panel-body">
            <!-- TITLE & ATTRIBUTES -->
            <span class="title">GENERAL DATA RISK</span>
            <div class="clearfix"></div>
            <div class="divider"></div>

            <!-- FORM -->
            <div class="row">

                <!-- COLUMN LEFT -->
                <div class="col-lg-6 col-md-8">

                    <!-- DIVIDER -->
                    <div class="divider-30"></div>

                    <!-- ROW BP -->
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>STRUCTURE CODE</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.CodRiesgoLocalizado</span>
                        </div>
                    </div>
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>NAME</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.Nombre</span>
                        </div>
                    </div>
                    <div class="row no-field">
                        <div class="col-lg-3 col-md-4">
                            <span class="form-left-label"><b>DESCRIPTION</b></span>
                        </div>

                        <div class="col-lg-9 col-md-8">
                            <span>@Model.Descripcion</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


} else {
    <input id="IdRiesgo" type="hidden" value="0" />
    <h3 class="darker"><strong>New Risk</strong></h3>
}

<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
        <!-- TABS -->
        <div id="Menu">
            <ul class="nav nav-tabs" id="mnu">
                <li class="active">
                    <a aria-expanded="true" id="mnu_General" data-toggle="tab" href="#">General</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_OperationalImpact" data-toggle="tab" href="#">Operational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_ReputationalImpact" data-toggle="tab" href="#">Reputational Impact</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Scoope" data-toggle="tab" href="#">Scoope</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Historical" data-toggle="tab" href="#">Historical</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Graphic" data-toggle="tab" href="#">Graphic</a>
                </li>
            </ul>
            <hr />
        </div> <!-- END TABS -->
        <div id="contenidoDinamico">
        </div>
    </div>
</div>


<!--MODAL AVISO CAMBIOS-->

<div id="modalAviso" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">WARNING!!</h4>
            </div>

            <div class="modal-body text-center">
                <p>There are changes in the actual risk. Please, save this changes or discard them.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="BtnSaveModal">SAVE CHANGES</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="BtnDiscard">DISCARD CHANGES</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>


<script type="text/javascript" src="~/Content/morris/morris.js"></script>
<script type="text/javascript" src="~/Content/morris/raphael.min.js"></script>
<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>

<script> 
        $(document).ready(function () {
            $('#Menu li').removeClass('disabled');
            var id = $('#IdRiesgo').val();
            var ruta = "http://localhost:1525/Risk/General/";
            $('#contenidoDinamico').load(ruta, { "id": id });
        })
</script>