@model Risk.Models.qRiesgosNombres
@{
    ViewBag.Title = "KrisFicha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KrisFicha</h2>

<h3 class="darker"><strong>@Model.CodRiesgo</strong></h3>
<input id="IdRiesgo" type="hidden" value="@Model.IdRiesgo" />

<!-- GENERAL DATA OF RISK -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & ATTRIBUTES -->
        <span class="title">GENERAL DATA RISK</span>
        <div class="clearfix"></div>
        <div class="divider"></div>

        <!-- FORM -->
        <div class="row">

            <!-- COLUMN LEFT -->
            <div class="col-lg-6 col-md-8">

                <!-- DIVIDER -->
                <div class="divider-30"></div>

                <!-- ROW BP -->
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>STRUCTURE CODE</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.CodRiesgoLocalizado</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>NAME</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.Nombre</span>
                    </div>
                </div>
                <div class="row no-field">
                    <div class="col-lg-3 col-md-4">
                        <span class="form-left-label"><b>DESCRIPTION</b></span>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <span>@Model.Descripcion</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="panel">
    <div id="partialViewsRisk" class="panel-body">
        <!-- TABS -->
        <div id="Menu">
            <ul class="nav nav-tabs" id="mnu">
                <li class="active">
                    <a aria-expanded="true" id="mnu_Main" data-toggle="tab" href="#">Main</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Scoope" data-toggle="tab" href="#">Scoope</a>
                </li>
                <li>
                    <a aria-expanded="false" id="mnu_Archive" data-toggle="tab" href="#">Archive</a>
                </li>
            </ul>
            <hr />
        </div> <!-- END TABS -->
        <div id="contenidoDinamico">
        </div>
    </div>
</div>

<script>

        $(document).ready(function () {
            $('#Menu li').removeClass('disabled');
            var id = $('#IdRiesgo').val();
            var ruta = "http://localhost:1525/KRIS/Main/";

            $('#contenidoDinamico').load(ruta, { "id": id , "idEstructura" : $('#estructura').val()});
        })
</script>

<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>