@using Risk.Models
@model Risk.ViewModels.ViewModelRisk

@{
    ViewBag.Title = "Risks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Risks</h2>

<div class="panel Incidencias_lista_divPagina">
    <div class="panel-body">

        @using (Html.BeginForm("BusquedaRiks", "Assign", FormMethod.Post ))
        {
            @Html.AntiForgeryToken()



        <!-- TITLE & BUTTONS -->
            <span class="title">SEARCH CRITERIA</span>
            <input type="submit" class="btn btn-primary pull-right" name="BtnBuscarRisk" value="SEARCH" id="BtnBuscarRisk" />
            <a href="@Url.Action("RiskFicha", "Risk", new { id = 0 })" class="btn btn-primary pull-right">NEW</a>
            <div class="clearfix"></div>
            <div class="divider"></div>

        <!-- SEARCH FORM -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-12">

                    <!-- DIVIDER -->
                    <div class="divider-30"></div>

                    <!-- ROW FILTER -->
                    <div class="row row-no-padding">
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelFilters">Filters</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <input type="text" class="form-control w50" name="filtro" />
                        </div>
                    </div>

                    <!-- ROW CATEGORIA -->
                    <div class="row row-no-padding">
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelCategoria">Categoría</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w50" name="categoria" id="selectCategoria" filtro="IdCategoria">
                                <option selected="selected" value="0"> </option>
                                @{
                                    Dictionary<int, string> dicCategorias = Model.dropDownModel.cboCategorias();
                                    foreach (var categoria in dicCategorias)
                                    {
                                        <option value="@categoria.Key">@categoria.Value </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <!-- ROW CLASIFICACIÓN 1 -->
                    <div class="row row-no-padding">
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif1">Clasificación 1</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w50" name="clasificacion1" ref="comboDinamico" id="selectClasif_1" sig="selectClasif_2">
                                <option selected="selected" value="0"> </option>
                                @{
                                    Dictionary<int, string> dicClasificacion1 = Model.dropDownModel.datosClasificacion1;
                                    foreach (var clasif1 in dicClasificacion1)
                                    {
                                        <option value="@clasif1.Key">@clasif1.Value </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <!-- ROW CLASIFICACIÓN 2 -->
                    <div class="row row-no-padding">
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif2">Clasificación 2</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w50" name="clasificacion2" ref="comboDinamico" id="selectClasif_2" sig="selectClasif_3">
                                <option selected="selected" value="0"> </option>
                            </select>
                        </div>
                    </div>

                    <!-- ROW CLASIFICACIÓN 3 -->
                    <div class="row row-no-padding">
                        <div class="col-lg-2 col-md-2">
                            <span class="form-left-label" id="labelClasif1">Clasificación 3</span>
                        </div>

                        <div class="col-lg-10 col-md-10">
                            <select class="form-control w50" name="clasificacion3" ref="comboDinamico" id="selectClasif_3">
                                <option selected="selected" value="0"> </option>
                            </select>
                        </div>
                    </div>

                    <!-- DIVIDER -->
                    <div class="divider-20"></div>

                </div>
            </div> <!-- END SEARCH FORM -->
                                    }


    </div>

</div> <!-- END SEARCH CRITERIA PANEL -->
<!-- RESULTS -->
<div class="panel">
    <div class="panel-body">
        <!-- TITLE & BUTTONS -->
        @*<span class="title bigger">INSTANCES SEARCH</span>
        <div class="clearfix"></div>
        <div class="divider"></div>*@
        <!-- RESULTS TABLE -->
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <!-- DIVIDER -->
                <div class="divider-30"></div>
                <!-- TABLE DIV -->
            </div>

            <div>
                <div class="divDelGrid center-block table-responsive" style="width:95%">
                    @Html.Partial("~/Views/PartialViews/TablaDatos.cshtml", Model.datosTabla)
                </div>
            </div>
            <!-- END RESULTS -->
        </div>
    </div> <!-- END TABLE DIV -->


</div> <!-- END RESULTS TABLE -->

<script type="text/javascript" src="~/Content/js/botoneraPartials.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>

