@using Risk.Models
@using Risk.Helpers
@model List<Risk.Controllers.TreeViewLocation>
@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buttonStructure {
        color: #8098a7;
        border: 0;
        padding: 0;
        margin: 5px;
        background-color: white;
    }

        .buttonStructure:active {
            color: black;
            border: 0;
            padding: 0;
            margin: 5px;
            background-color: white;
        }
</style>



<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.browser.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-metis.menu.min.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Content/js/mdetect/mdetect.js"></script>
<script type="text/javascript" src="~/Content/js/fastclick/fastclick.js"></script>
<script type="text/javascript" src="~/Content/js/scripts.js"></script>
<script type="text/javascript" src="~/Content/js/scripts2.js"></script>
<script type="text/javascript" src="~/Content/datetables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Content/treeView/bootstrap-treeview.js"></script>


<link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/css/bootstrap-theme.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/datetables/jquery.dataTables.css" type="text/css" />
<link rel="stylesheet" href="~/Content/treeView/bootstrap-treeview.css" type="text/css" />
<link href="~/Content/datetables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/Content/treed/treed.css" type="text/css" media="screen" />

<h2>Structure</h2>


<div class="panel" style="margin-top:30px;">
    <div class="panel-body" style="background-color:white">

        <span class="title">STRUCTURE NODES</span>
        <div id="botonera" class="pull-right">
            <input type="submit" class="btn btn-primary" name="BtnDelete" value="DELETE" id="BtnDelete" />
            <input type="submit" class="btn btn-primary" name="BtnSave" value="SAVE" id="BtnSave" />
            <input type="submit" class="btn btn-primary" name="BtnExit" value="EXIT" id="BtnExit" />
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>

        <div class="row">
            <div class="col-lg-12 col-md-12" style="width:100%">
                <br /><br />
                <!-- COLUMNA IZQUIERDA-->
                <div class="col-lg-4 col-md-4 pull-left" style="margin:0;padding:0">
                    
                        @Html.AntiForgeryToken()
                        <div class="col-lg-12 col-md-12" style="width:100%">
                            @(Html.TreeView(Model)
                            .EmptyContent("No locations have been defined yet!")
                            .Children(m => m.ChildLocations)
                            .HtmlAttributes(new { id = "tree" })
                            .ChildrenHtmlAttributes(new { @class = "subItem" })
                            .ItemText(m => m.Name)
                            .ItemTemplate(
                            @<text>
                                <input type="checkbox" @item.check />
                               @* <a href=@Url.Action("TablaDatos2", "Assign", new { idEstructura = item.Id, name = item.Name}) name="partalView" id="@item.Id">@item.Name</a>*@
                              <a href=#@item.Id name="partalView" id="@item.Id">@item.Name</a>
                            </text>)
                            )
                        </div>                    
                </div>

                <!-- COLUMNA DERECHA-->
                <div id="assignedRisks" style="border:1px solid #ececec; padding:10px" class="row col-lg-8 col-md-8">
                    <div class="col-lg-9 col-md-9">
                        @* <span class="form-left-label"><b>ASSIGNED RISK</b></span>*@
                    </div>
                    <div class="col-lg-12 col-md-12" style="width:100%;">
                        <div>
                            <div class="divDelGrid table-responsive" id="contenidoTabla">
                                @*@Html.Partial("~/Views/Assign/TablaDatos2.cshtml")*@
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="col-lg-12 col-md-12 panel">
                        <div id="partialViewsRisk" class="panel-body">
                            <!-- TABS -->
                            <div>
                                <ul class="nav nav-tabs" id="str">
                                    <li class="active">
                                        <a aria-expanded="true" id="str_Description" data-toggle="tab" href="#">Description</a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" id="str_FlowChart" data-toggle="tab" href="#">Flowchart</a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" id="str_Graphs" data-toggle="tab" href="#">Graphs</a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" id="str_Filters" data-toggle="tab" href="#">Filters</a>
                                    </li>
                                </ul>
                                <hr />
                            </div> <!-- END TABS -->
                            <div id="contenidoDinamico">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<script>
    $(document).ready(function () {
        var ruta = "http://localhost:1525/Assign/Description/";
        $('#contenidoDinamico').load(ruta);
    })
</script>*@


<script>

    $.fn.extend({
        treed: function (o) {

            var openedClass = 'glyphicon-minus-sign';
            var closedClass = 'glyphicon-plus-sign';

            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            };

            //initialize each of the top levels
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this); //li with children ul
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                //branch.children().children().children().children().toggle();
                //branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            //fire event to open branch if the li contains an anchor instead of text
            //tree.find('.branch>a').each(function () {
            //    $(this).on('click', function (e) {
            //        $(this).closest('li').click();
            //        e.preventDefault();
            //    });
            //});
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

    //Initialization of treeview
    $('#tree').treed({ openedClass: 'glyphicon-chevron-right', closedClass: 'glyphicon-chevron-down' });

</script>

