@using Risk.Models
@model Risk.Models.DatosTablaModel
@{if (Model.datosTBody == null) {

  <!-- TITLE & BUTTONS -->
        <span class="title bigger">@Model.titulo</span>
        <div class="clearfix"></div>

        <table rules="rows" id="tablaDatosRiesgos" class="table">
            <thead>
                <tr>

                    <th text-align="right">
                        Editar
                    </th>
                    @{foreach (var item in Model.datosTHead) {
                            <th class="td-large">@item.Value.ToString()</th>
                        }
                    }
                </tr>

            </thead>
        </table>
                        } else {

        <!-- TITLE & BUTTONS -->
                            <span class="title bigger">@Model.titulo</span>
                            <div class="clearfix"></div>

                            <table rules="rows" id="tablaDatosRiesgos" class="table">
                                <thead>
                                    <tr>

                                        @{if (Model.editable) {
                                                <th style="text-align:center">
                                                    Editar
                                                </th>
                                            }

                                            if (Model.borrar) {
                                                <th style="text-align:center">
                                                    Borrar
                                                </th>
                                            }
                                        }

                                        @{
                                            foreach (var item in Model.datosTHead) {
                                                <th class="td-large" style="text-align:center">@item.Value.ToString()</th>
                                            }

                                        }

                                    </tr>


                                </thead>
                                <tbody>

                                    @{
                                        int contador = 0;
                                        foreach (var fila in Model.datosTBody) {

                                            // La variable color es para recoger si en la tabla existe el atributo color que pinta la fila. Usado en TablaIndicadoresKRIS
                                            var color = "";
                                            var colorLapiz = "";

                                            if (Model.color != null) {
                                                color = Model.color.ElementAt(contador);
                                                colorLapiz = "#ffffcc";
                                            }

                                            <tr id="@fila.Key">
                                                @{if (Model.editable) {
                                                        <td style="text-align:center;background-color:@color;">
                                                            <a href="@Url.Action(Model.urlActionEditar.Item1, Model.urlActionEditar.Item2, new { id = fila.Key }) " id="@fila.Key"><i style="color:@colorLapiz" class="glyphicon glyphicon-pencil"></i></a>
                                                        </td>
                                                    }

                                                    if (Model.borrar) {
                                                        <td style="text-align:center">
                                                            <a href="@Url.Action(Model.urlActionBorrar.Item1, Model.urlActionBorrar.Item2, new { id = fila.Key }) " id="@fila.Key"><i class="glyphicon glyphicon-trash"></i></a>
                                                        </td>
                                                    }

                                                    foreach (var columna in fila.Value) {


                                                        switch (columna.Item1) {
                                                            case "String":
                                                                <td class="td-large">@columna.Item2</td>
                                                                break;

                                                            case "Boolean":
                                                                if (columna.Item2 == "True") {
                                                                    <td style="padding-left:90px">
                                                                        <input class="checkbox" type="checkbox" checked />
                                                                    </td>
                                                                } else {
                                                                    <td style="padding-left:90px">
                                                                        <input class="checkbox" type="checkbox" />
                                                                    </td>
                                                                }
                                                                break;

                                                            case "Int":
                                                                <td class="td-large" style="text-align:right">@columna.Item2</td>
                                                                break;

                                                            case "DateTime":
                                                                <td class="td-large" style="text-align:right; padding-right:30px">@columna.Item2.Split(' ')[0]</td>
                                                                break;

                                                            default:
                                                                <td class="td-large">@columna.Item2</td>
                                                                break;

                                                        }

                                                    }


                                                }

                                            </tr>
                                                        contador += 1;    }
                                    }


                                </tbody>
                            </table>
                                                    }
}


<script>
    $(document).ready(function () {


        var vista = window.location.href.split('/')[4];

        if (vista.indexOf("#") > -1) {
            vista = vista.split('#')[0];
        }

        if (vista.indexOf("?") > -1) {
            vista = vista.split('?')[0];
        }

        switch (vista) {
            case "Structure":
                var table = $('#tablaDatosRiesgos').DataTable({
                    //responsive: true,
                    scrollY: 370,
                    scrollX: true,
                    scrollCollapse: true,
                    //scroller: true,
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false,
                    retrieve: true
                });
                break;

            case "AssignMultipleRisks":
                var table = $('#tablaDatosRiesgos').DataTable({
                    "bPaginate": false,
                    "bFilter": true,
                    "bInfo": false,
                    retrieve: true
                });
                break;

            case "Risks":
                var table = $('#tablaDatosRiesgos').DataTable({
                    responsive: true,
                    scrollY: 1000,
                    scrollX: true,
                    scrollCollapse: true,
                    scroller: true,
                });
                break;
            case "KRISIndicators":
                var table = $('#tablaDatosRiesgos').DataTable({
                    responsive: true,
                    scrollY: 1000,
                    scrollX: true,
                    scrollCollapse: true,
                    scroller: true,
                });
                break;

            case "KRISFicha":
                var table = $('#tablaDatosRiesgos').DataTable({
                    "bPaginate": false,
                    "bFilter": false,
                    "bInfo": false,
                    retrieve: true
                });
                break;
            case "Plans":
                var table = $('#tablaDatosRiesgos').DataTable({
                    responsive: true,
                    scrollY: 1000,
                    scrollX: true,
                    scrollCollapse: true,
                    scroller: true,
                });
                break;
        }


        $('#tablaDatosRiesgos tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('#tablaDatosRiesgos tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });


    });
</script>
